<link rel="stylesheet" href="{{ 'app_wishlist-king_templates.css' | asset_url }}" />

<style>
  .wk-link {}

  .wk-link__icon {
    margin-right: 0;
  }

  .wk-link__label {
    display: none !important;
  }

  .wk-link__count {
    display: none !important;
  }

  .Header__Icon .wk-icon__svg {
      stroke-width: 2px;
  }

  .wk-button {}

  .wk-button__icon {}

  .wk-button__label {}

  .wk-button.wk-button--floating {
      background-color: #fff;
      padding: 11px;
      border-radius: 50%;
      transition: opacity 0.5s linear;
      right: 10px;
      top: 10px;
      opacity: 0;
      visibility: hidden;
  }

  .wk-button.wk-button--floating:hover {
      color: #ccc;
  }

  .wk-button.wk-button--floating.wk-button--remove {
      opacity: 1;
      visibility: visible;
  }

  .wk-button.wk-button--floating .wk-button__icon {
      width: 18px;
      height: 18px;
  }

  .wk-product-form__submit {}

  :root {
    --wk-icon--stroke-width: 1px;

    --wk-link--color: currentColor;
    --wk-link__icon--size: 20px;

    --wk-button--color: currentColor;
    --wk-button__icon--color: currentColor;
    --wk-button__icon--size: 14px;

    --wk-product-form__submit--color: currentColor;
    --wk-product-form__submit--background: white;

    --wk-share-button--color: white;
    --wk-share-button--background: #3d3d3d;
    --wk-share-button--size: 26px;

    --wk-page__image--aspect-ratio: 1 / 1;
    --wk-page__grid--max-columns: 4;
  }

  .wk-note__list-empty {
      margin-bottom: 80px;
  }

  .ProductItem {
      position: relative;
  }
</style>

<script type="module">
  import WishlistKing from "{{ 'app_wishlist-king_sdk.js' | asset_url }}";
  import templates from "{{ 'app_wishlist-king_templates.js' | asset_url }}";
  import settings from "{{ 'app_wishlist-king_settings.js' | asset_url }}";

  WishlistKing.toolkit.init({
    templates,
    settings,
    events: {
      ready() {
        // App is ready and WishlistKing.toolkit can be used
      },
      addedToCart(cart) {
        // This is a good place to trigger AJAX cart update
        window.scrollTo(0, 0);
        location.reload();
      },
      loginRequired(intent) {
        window.location = [
          "/account/login?wk-redirect=",
          encodeURIComponent(
            JSON.stringify({
              path: window.location.pathname,
              intent: intent,
            })
          ),
        ].join("");
      },
    },
    shop: {
      name: {{ shop.name | replace: "&amp;", "&" | json }},
      domain: "{{ shop.domain }}",
      permanent_domain: "{{ shop.permanent_domain }}",
      currency: "{{ shop.currency }}",
      money_format: {{ shop.money_format | json }},
      root_url: "{% unless routes.root_url == '/'  %}{{ routes.root_url }}{% endunless %}",
    },
    session: {
      customer: {{ customer.id | json }},
      customer_email: {{ customer.email | json }},
    },
    wishlist: {
      filter: function (product) {
        return !product.hidden;
      },
      share: {
        title: {{ "app_wishlist-king.general.share_list_title" | t | json }},
        description: {{ "app_wishlist-king.general.share_list_description" | t: shopName: shop.name | json }},
      },
      fallbackImage: "https://cdn.shopify.com/s/images/themes/product-1.png",
    },
    theme: {
      locale: {
        wishlist: {{ "app_wishlist-king.general.wishlist" | t | json }},
        wishlist_empty_note: {{ "app_wishlist-king.general.wishlist_empty_note" | t | json }},
        add_to_wishlist: {{ "app_wishlist-king.general.add_to_wishlist" | t | json }},
        remove_from_wishlist: {{ "app_wishlist-king.general.remove_from_wishlist" | t | json }},
        clear_wishlist: {{ "app_wishlist-king.general.clear_wishlist" | t | json }},
        in_wishlist: {{ "app_wishlist-king.general.in_wishlist" | t | json }},
        share_wishlist: {{ "app_wishlist-king.general.share_wishlist" | t | json }},
        copy_share_link: {{ "app_wishlist-king.general.copy_share_link" | t | json }},
        share_link_copied: {{ "app_wishlist-king.general.share_link_copied" | t | json }},
        share_by_email_body: {{ "app_wishlist-king.general.share_by_email_body" | t | json }},
        login_or_signup_note: {{ "app_wishlist-king.general.login_or_signup_note_html" | t: login_url: routes.account_login_url, register_url: routes.account_register_url | json }},
        add_to_cart: {{ "app_wishlist-king.general.add_to_cart" | t | json }},
        sold_out: {{ "app_wishlist-king.general.sold_out" | t | json }},
        quantity: {{ "app_wishlist-king.general.quantity" | t | json }},
        view_product: {{ "app_wishlist-king.general.view_product" | t | json }},
        view_wishlist: {{ "app_wishlist-king.general.view_wishlist" | t | json }},
        share_on_facebook: {{ "app_wishlist-king.general.share_on_facebook" | t | json }},
        share_on_twitter: {{ "app_wishlist-king.general.share_on_twitter" | t | json }},
        share_on_pinterest: {{ "app_wishlist-king.general.share_on_pinterest" | t | json }},
        share_with_whatsapp: {{ "app_wishlist-king.general.share_with_whatsapp" | t | json }},
        share_by_email: {{ "app_wishlist-king.general.share_by_email" | t | json }},
        get_link: {{ "app_wishlist-king.general.get_link" | t | json }},
        send_to_customer_service: {{ "app_wishlist-king.general.send_to_customer_service" | t | json }},
        add_all_to_cart: {{ "app_wishlist-king.general.add_all_to_cart" | t | json }},
      },
      customer: {{ customer.id | json }},
      customer_accounts_enabled: {{ shop.customer_accounts_enabled | json }},
    },
  });

  // Header link
  
  WishlistKing.observe(
    {
      selector: "header a[href='{{ routes.cart_url }}']",
    },
    (target) => {
      target.insertBefore(WishlistKing.createComponent("wishlist-link"));
    }
  );


  // Wishlist button on product page
  
  WishlistKing.observe(
    {
      selector: "form[action='{{ routes.cart_add_url }}']",
      template: "product",
    },
    (target) => {
      target.append(
        WishlistKing.createComponent("wishlist-button", {
          id: "{{ product.id }}",
        })
      );
    }
  );
  

  // Wishlist button on collection page
  WishlistKing.observe(
    {
      selector: ".ProductItem[data-product-id]",
      template: "home" | "collection",
    },
    (target) => {
      target.append(
        WishlistKing.createComponent("wishlist-button-floating", {
          id: target.container.getAttribute("data-product-id"),
        })
      );
    }
  );

  // Wishlist page
  
  WishlistKing.observe(
    {
      selector: "main .Rte",
      template: "page",
      handle: WishlistKing.toolkit.settings.wishlistPageHandle,
    },
    (target) => {
      target.insertAfter(WishlistKing.createComponent("wishlist-page"));
    }
  );

  // Shared wishlist page
  WishlistKing.observe(
    {
      selector: "main .Rte",
      template: "page",
      handle: WishlistKing.toolkit.settings.sharedWishlistPageHandle,
    },
    (target) => {
      target.insertAfter(WishlistKing.createComponent("wishlist-page-shared"));
    }
  );
  
</script>
