  {% if linklists.gift-wrapping.links.size > 0 and linklists.gift-wrapping.links.first.type == 'product_link' %}

    <div id="is-a-gift" style="clear: left; margin: 30px 0" class="clearfix rte">

        {% assign isInCart = false %}

        {% for item in cart.items %}
            {% if item.title == linklists.gift-wrapping.links.first.object.title %}
                {% assign isInCart = true %}
            {% endif %}
        {% endfor %}
      <p>

        <input id="gift-wrapping" type="checkbox" name="attributes[gift-wrapping]" value="yes" {% if isInCart %} checked="checked"{% endif %} style="float: none" onchange="toggleGiftInCart(event)" />
        <label for="gift-wrapping" style="display:inline; padding-left: 5px; float: none;">
          Zapakuj na prezent w cenie {{ linklists.gift-wrapping.links.first.object.price | money }}. Zobacz, jak <a href="{{ linklists.gift-wrapping.links.first.object.url }}" target="_self">zapakujemy Twój prezent</a>. 
        
        </label>
      </p>

      <p style="display:none">
        <label style="display:block" for="gift-note">Gift message (free and optional):</label>
        <textarea name="attributes[gift-note]" id="gift-note">{{ cart.attributes.gift-note }}</textarea>
      </p>
    </div>

  {% assign id = linklists.gift-wrapping.links.first.object.variants.first.id %}

  {% assign gift_wraps_in_cart = 0 %}
  {% for item in cart.items %}
    {% if item.id == id %}
      {% assign gift_wraps_in_cart = item.quantity %}
    {% endif %}
  {% endfor %}

  <style>
    #updates_{{ id }} { display: none; }
  </style>

  <script>

  Shopify.Cart = Shopify.Cart || {};

  Shopify.Cart.GiftWrap = {};

  Shopify.Cart.GiftWrap.set = function() {
    var headers = new Headers({ 'Content-Type': 'application/json' });

    var request = {
      method: 'POST',
      headers: headers,
      body: JSON.stringify({ updates: { {{ id }}: 1 }, attributes: { 'gift-wrapping': true } })
    };
    fetch('/cart/update.js', request)
    .then(function() {
      location.href = '/cart';
    });
  }

  Shopify.Cart.GiftWrap.remove = function() {
    var headers = new Headers({ 'Content-Type': 'application/json' });

    var request = {
      method: 'POST',
      headers: headers,
      body: JSON.stringify({ updates: { {{ id }}: 0 }, attributes: { 'gift-wrapping': '', 'gift-note': '' } })
    };
    fetch('/cart/update.js', request)
    .then(function() {
      location.href = '/cart';
    });
  }

  // If we have nothing but gift-wrap items in the cart.
  {% if cart.items.size == 1 and gift_wraps_in_cart > 0 %}
  document.addEventListener("DOMContentLoaded", function(){
    Shopify.Cart.GiftWrap.remove();
  });
  // If we have more than one gift-wrap item in the cart.
  {% elsif gift_wraps_in_cart > 1 %}
  document.addEventListener("DOMContentLoaded", function(){
    Shopify.Cart.GiftWrap.set();
  });
  // If we have a gift-wrap item in the cart but our gift-wrapping cart attribute has not been set.
  {% elsif gift_wraps_in_cart > 0 and cart.attributes.gift-wrapping == blank  %}
  document.addEventListener("DOMContentLoaded", function(){
    Shopify.Cart.GiftWrap.set();
  });
  // If we have no gift-wrap item in the cart but our gift-wrapping cart attribute has been set.
  {% elsif gift_wraps_in_cart == 0 and cart.attributes.gift-wrapping != blank  %}
  document.addEventListener("DOMContentLoaded", function(){
    Shopify.Cart.GiftWrap.set();
  });
  {% endif %}

  // When the gift-wrapping checkbox is checked or unchecked.
  document.addEventListener("DOMContentLoaded", function(){
    

    document.querySelector('#gift-note').addEventListener("change", function(evt) {
      var note = evt.target.value;
      var headers = new Headers({ 'Content-Type': 'application/json' });

      var request = {
        method: 'POST',
        headers: headers,
        body: JSON.stringify({ attributes: { 'gift-note': note } })
      };

      fetch('/cart/update.js', request);
    });
  });
    
    
    
    function toggleGiftInCart(e) {
        e.preventDefault();
        if (e.target.checked) {
            Shopify.Cart.GiftWrap.set();
        } else {
            Shopify.Cart.GiftWrap.remove();
        }
    } 

  </script>

  {% endif %}