{%- layout 'gift_card' -%}

<header class="Header Header--sidebar Header--initialized">
    <div class="Header__Wrapper Header__Wrapper--center">
        <a class="Header__LogoLink" href="{{ shop.url }}">
            <span class="Heading u-h4">{{ shop.name }}</span>
        </a>
    </div>
</header>

<div class="GiftCard {% if gift_card.expired or gift_card.enabled != true %}GiftCard--disabled{% endif %}" data-section-id="gift-card" data-section-type="gift-card">
    <div class="Container">
        <div class="PageContent">
            <h1 class="GiftCard__SubText Heading u-h1 GiftCard__Redeem">{{ 'gift_card.issued.title' | t }}</h1>

            <p class="GiftCard__Redeem">{{ 'gift_card.issued.text_html' | t }}</p>

            {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
            <p class="GiftCard__SubText Heading u-h1">{{ formatted_initial_value }}</p>

            <div class="GiftCard__Wrapper">
                {%- if gift_card.expired -%}
                    <div class="Alert Alert--error">
                        {%- if gift_card.expired and gift_card.enabled -%}
                            {%- assign gift_card_expiry_date = gift_card.expires_on | date: format: 'month_day_year' -%}
                            <p>{{ 'gift_card.issued.expired' | t: expiry: gift_card_expiry_date }}</p>
                        {%- else -%}
                            <p>{{ 'gift_card.issued.disabled' | t }}</p>
                        {%- endif -%}
                    </div>
                {%- endif -%}

                <div class="GiftCard__IllustrationWrapper">
                    <img alt="{{ 'gift_card.issued.illustration_alt' | t }}" class="GiftCard__Illustration" src="{{ 'gift-card.png' | asset_img_url: '450x270' }}">
                    <span class="GiftCard__CodeHolder Heading u-h6">{{ gift_card.code | format_code }}</span>
                </div>

                <div class="GiftCard__QrCode" style="display: none;" data-identifier="{{ gift_card.qr_identifier }}" id="QrCode"></div>
            </div>

            {%- capture shop_link -%}
               <a href="{{ shop.url }}" target="_blank" class="Link Link--underlineNative">{{ shop.domain }}</a>
            {%- endcapture -%}
            {% comment %} {%- capture shop_address -%}
               {{ shop.address.city }}, {{ shop.address.street }}
            {%- endcapture -%} {% endcomment %}

            <p class="GiftCard__Redeem">{{ 'gift_card.issued.info_html' | t: shop_link: shop_link, shop_address: 'Kraków, ul. Limanowskiego 18' }}</p>

            {%- if gift_card.expires_on -%}
              {%- assign gift_card_expiry_date = gift_card.expires_on | date: format: 'month_day_year' -%}
              <small>{{ 'gift_card.issued.expires_date' | t: expiry: gift_card_expiry_date }}</small>
            {%- endif -%}

            <hr style="border-width: 0; border-bottom: 1px solid #e0e0e0; margin: 60px 0 40px;" />

            <div class="ButtonGroup">
                {% comment %} {%- if gift_card.pass_url -%}
                    <div class="ButtonGroup__Item">
                        <a class="GiftCard__apple-wallet" href="{{ gift_card.pass_url }}">
                            <img alt="{{ 'gift_card.issued.add_to_apple_wallet' | t }}" class="apple-wallet-image" height="40" src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120">
                        </a>
                    </div>
                {%- endif -%} {% endcomment %}

                {%- capture print_link -%}
                    <a href="#" id="PrintGiftCard" class="Button Button--primary">{{ 'gift_card.issued.print' | t }} / PDF</a>
                {%- endcapture -%}

                <div class="ButtonGroup__Item">{{ print_link }}</div>

                {% comment %} <div class="ButtonGroup__Item">
                    <a class="Button Button--primary" href="{{ shop.url }}" target="_blank">{{ 'gift_card.issued.shop_link' | t }}</a>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</div>

<script>
    document
        .documentElement
        .style
        .setProperty('--header-height', document.getElementById('shopify-section-header').offsetHeight +
                'px');
</script>